*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0c19;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #1b1938; 
    height: 70vh;
    width: 70%;
    display: flex;
    border-radius: 15px;
}

.text-container{
    width: 50%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro > h1{
    margin-bottom: 20px;    
}

.img-container{
    background-color:transparent;   
    width: 50%;
    height: 100%;
    
}

.img-container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
}

.stat{
    display: flex;
    gap: 30px;
}

.intro-span{
    color: violet;
}


@media only screen and (max-width: 1200px) {
    .text-container{
        width: 70%;
    }

    .img-container{
        width: 30%;
    }
}




@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column-reverse;
        height: 80vh;
    }

    .text-container{
        width: 100%;
        padding: 20px;
    }
    .img-container{
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column-reverse;
        height: 90vh;
    }

    .text-container{
        width: 100%;
        padding: 20px;
        height: 70%;

    }
    .img-container{
        width: 100%;
        height: 30%;
    }
}